@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
    --primary-font-color: rgba(19, 18, 18, 0.818);
    --font-family: 'Comfortaa';
    --secundary-font-color: rgb(0, 85, 255);
    --linear-2: linear-gradient(to bottom left, rgba(1, 67, 233, 0.883), rgba(12, 186, 209, 0.849));
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, aliceblue, rgb(21, 130, 185));
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 98%;
    background-color: rgb(244, 236, 227);
    box-shadow: 5px 0px 10px rgb(8, 185, 238);
    border-radius: 15px 0px 15px 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-family: var(--font-family);
}

.header h1{
    margin-left: 2rem;
    color: var(--secundary-font-color);
}

.info a{
    text-decoration: none;
    margin: 15px;
    color: var(--primary-font-color);
    font-size: 17px;
    font-weight: 900;
    position: relative;
}

.info a:hover{
    color: rgb(0, 136, 255);
    transition: 0.2s ease-in-out;
}

.underline{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: rgba(31, 29, 29, 0.097);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 80%;
}

.box-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--primary-font-color);
    transition: all 0.5s ease;
    position: relative;
    box-shadow: 5px 5px 10px rgba(31, 41, 47, 0.518);
}

.card:hover{
    background: var(--linear-2);
    transform: translateX(15px);
    box-shadow: 0px 0px 10px rgba(0, 144, 240, 0.644);
}


@media (min-width: 1300px), (max-width: 1000px){
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 20%;
    }

    .main{
        width: 100%;
        height: 80%;
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        height: 80%;
    }

    .info a{
        margin: 3px;
        font-size: 15px;
    }

    .header h1{
        margin: 0;
        margin-bottom: 1rem;
    }

    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .box-1{
        display: flex;
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }

    .box-2{
        display: flex;
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
}
